@{
    ViewBag.Title = "Home Page";
}

<img class="ode2food" src="~/img/kringel.png" alt="Alternate Text" />

@model IEnumerable<OdeToFood.Models.RestaurantListViewModel>

@foreach (var item in Model)
{
    <div>
        <h4>@item.Name</h4>
        <div>@item.City, @item.Country</div>
        <div>Reviews: @item.CountOfReviews</div>
        <hr />
    </div>
}

<form action="/seafood/culture/food" method="post">
    <h4>Culture:</h4>   <input type="text" name="culture" /><br />
    <h4>Food Type:</h4> <input type="text" name="food" /><br /><br />
    <input type="submit" value="Order" />
</form>