@{
    ViewBag.Title = "Home Page";
}

<img class="ode2food" src="~/img/kringel.png" alt="Alternate Text" />

@model IEnumerable<OdeToFood.Models.RestaurantListViewModel>

<form method="get">

    <input type="search" name="searchTerm" />
    <input class="search-by-name" type="submit" value="Search by name" />
</form>

@foreach (var item in Model)
{
    <div>
        <h4>@item.Name</h4>
        <div>@item.City, @item.Country</div>
        <div>Reviews: @item.CountOfReviews</div>
        <hr />
    </div>
}

<form action="/seafood/culture/food" method="post" class="seafood-form">
    <span class="orderit">Order some nice seafood of your choosing!</span>
    <h4>Culture:</h4>   <input type="text" name="culture" value="japanese"/><br />
    <h4>Seafood Type:</h4> <input type="text" name="food" value="sushi"/><br /><br />
    <input class="order-btn" type="submit" value="Order" />
</form>