body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: lightgoldenrodyellow;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */

h1,h2,h3,h4,h5,h6 {
    font-family: 'Comic Sans MS', sans-serif;
    color: cornflowerblue;
}

input,
select,
textarea {
    max-width: 280px;
}

.review {
    padding: 2px;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}

.search-by-name {
    border-color: darkred;
    background-color: honeydew;
}

.orderit {
    color: red;
    font-size: 1.3rem;
}

.review h4 {
    color: darkmagenta;
    padding: 5px;
    background: #f2bfe5;
}

.order-btn {
    border-color: cornflowerblue;
    background-color: bisque;
}

.review p {
    font-size: .8em;
}

.ode2food {
    margin-left: 18%;
}

.logo {
    width: 10%;
    height: 9%;
}

.ode2food-logo {
    background: url(../img/kringel.png) no-repeat top left;
    display: block;
    background-size: 100%;
    width: 60px;
    height: 55px;
}

.seafood-form {
    margin-top: 2rem;
}